/****** SITE-WIDE DEFAULTS ******/
a {
    text-decoration: none;
}

body {
    background-color: var(--tenno-background-color);
}

body, select {
    font-family: var(--roboto);
}

/****** HEADER & THEME SELECTION ******/
/* Header Container */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px
}

/* Theme Selector & Logo Container */
#left-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

/* Theme Selector */
#theme-selector {
    background: var(--tenno-button-background-color);
    border: 2px solid #FFFFFF;
    border-bottom: 5px solid var(--tenno-medium-green);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 2px;
}

/* Logo - "FrameMastery" */
#left-header-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 10px;
    text-shadow: 1px 1px 1px var(--tenno-bright-green);
    text-transform: uppercase;
}

/* "Total Mastery:" Container */
#total-mastery-container {
    color: var(--tenno-button-green);
    font-size: 20px;
    font-weight: 700;
    padding: 5px 20px;
}

/* Horizontal Rule */
hr {
    border: 2px solid var(--tenno-dark-green);
    margin-left: 0;
    max-width: 550px;
}

/****** MAIN CONTENT ******/
/* Main Container */
main {
    display: flex;
}

/* Left Main Container */
#left-main-container {
    min-width: 350px;
}

/* Categories Container */
#categories-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px 20px 60px 40px;
}

/* Collapsible Categories */
.collapsible-category {
    background-color: transparent;
    border: none;
    color: var(--tenno-dark-green);
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
}

/* Downward-Facing Carets */
.fa-solid {
    font-size: 20px;
}

/* Caution Box */
#caution-container {
    color: var(--tenno-dark-green);
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
}

/* Button Style - "Complete All Items," "Reset All Items," "Hide Completed" */
.button-style {
    background: var(--tenno-button-background-color);
    border: none;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    color: var(--tenno-button-green);
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    padding: 5px 20px;
}

/* Box Style - "Total Mastery Container," "Hover-for-Details Container," "Item Selection Container" */
.box-style {
    background: var(--tenno-button-background-color);
    border: 2px solid #FFFFFF;
    box-shadow: var(--box-shadow);
}

/* Right Main Container */
#right-main-container {
    width: 100%;
    margin: 70px 20px 0 0;
}

/* Hover-for-Details Container */
#hover-details-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    margin-bottom: 15px;
    min-height: 120px
}

/* Hover-for-Details Preview Text */
#hover-details-preview-text {
    font-size: 24px;
    font-weight: 900;
}

/* Item Selection Container */
#item-selection-container {
    border-radius: 6px;
    min-height: 550px
}

/* Item Selection Header Container */
#item-selection-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

/* Item Selection Header - "Awaiting Selection" */
#item-selection-header {
    color: var(--tenno-dark-green);
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

/* Item Selection Main Container */
#item-selection-main-container {

}

/****** FOOTER ******/
/* Footer */
footer div {
    background-color: var(--tenno-dark-green);
    height: 40px;
    margin-top: 40px;
    width: 100%;

    position: absolute;
    bottom: 0;
}